/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "helvetica-neue", "helvetica neue", sans-serif;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

a, div, p, h1 {
  font-family: "helvetica-neue", "helvetica neue", sans-serif;
}

#site-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.activity__container {
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}
.activity__text-wrapper {
  display: block;
  position: relative;
}
.activity__text-wrapper.enter, .activity__text-wrapper.update {
  -webkit-animation: fromTop .5s;
  animation: fromTop .5s;
}
.activity__title {
  font-size: 35px;
  line-height: 1.5em;
  color: #5D4F4F;
  font-family: "helvetica-neue", "helvetica neue", sans-serif;
  font-weight: 500;
  text-transform: lowercase;
}
.activity__subtitle {
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 30px;
  color: #5D4F4F;
  font-family: "helvetica-neue", "helvetica neue", sans-serif;
  font-weight: 400;
  text-transform: lowercase;
}
.activity__image {
  display: block;
  position: relative;
}
.activity__image.enter, .activity__image.update {
  -webkit-animation: fromRight .5s;
  animation: fromRight .5s;
}

.button {
  display: block;
}

.evaluate-button {
  font-size: 0;
  color: #80C9FF;
  cursor: pointer;
  margin-top: 50px;
}
.evaluate-button:after {
  content: '';
  background: url("../img/resources/evaluate-icon.svg") no-repeat;
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

@-webkit-keyframes fromRight {
  from {
    right: -50%;
    opacity: .3;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}

@keyframes fromRight {
  from {
    right: -50%;
    opacity: .3;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}
@-webkit-keyframes fromTop {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
@keyframes fromTop {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}



/*# sourceMappingURL=style.css.map */
